CloseEventSample/CloseEventSample.Android/bin/
CloseEventSample/CloseEventSample.Android/obj/
CloseEventSample/CloseEventSample/obj/
CloseEventSample/CloseEventSample/bin/
CloseEventSample/CloseEventSample.iOS/obj/
